.footer{
  padding: 3.2rem 0;
  background-color: #f1f1f1;
  p{
    color: #000;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    a{
      color: inherit;
      text-decoration: underline;
    }
  }
}