@import "_params";

.home{
  @extend %pos-rel;
  max-width: 160rem;
  min-width: 50rem;
  @extend %margin-auto;
  img{
    max-width: 100%;
    height: auto;
  }
  &--brand{
    @extend %pos-abs;
    bottom: 0;
    left: 0;
    padding: 1.2rem 2.4rem;
    opacity: .6;
    h1{
      text-transform: capitalize;
    }
  }
}